@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<style>
    /* set table head style */
    .table thead {
        background-color: blue;
        color: white;
        text-align: center;
    }

    /* set table body style */
    .table tbody {
        background-color: #ffffff;
        color: #000000;
        /*        text-align: center;*/
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                Technology Forum
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>Lorem ipsum dolor sit ametconsectetur adipiscing elit</li>
                    <li>Vestibulum justo semdapibus vitae velit invehicula luctus sapien</li>
                    <li>Nulla porta turpis malesuadasagittis ligula velconsequat mauris</li>
                    <li>Fusce interdum quam imperdiet placerat lobortis</li>
                    <li>Phasellus facilisis efficitur fermentum</li>
                    <li>In pellentesque dui eget aliquam mattis</li>
                    <li>Nulla nisl dolor,volutpat non hendrerit iddignissim et mauris</li>
                    <li>Aliquam lacinia enim a lectus ultricies auctor</li>
                </ul>
                <div style="color:lightgray">-- Technology Forum</div>
            </td>
        </tr>
    </tbody>
</table>