@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Posts Index";
}

<h2>Index</h2>

<p>This is Posts Index!</p>